---
import { Comment } from 'astro-pure/advanced'
import { Button, Collapse, Spoiler, Timeline } from 'astro-pure/user'
import PageLayout from '@/layouts/CommonPage.astro'
import Substats from '@/components/about/Substats.astro'
import ToolSection from '@/components/about/ToolSection.astro'

const headings = [
  { depth: 2, slug: 'tools', text: 'Tools' },
  { depth: 2, slug: 'social-networks', text: 'Social Networks' },
  { depth: 2, slug: 'about-Education', text: 'Education' },
  { depth: 2, slug: 'about-blog', text: 'About Blog' }
]
---

<PageLayout title='About' {headings} info='/about'>
  <p>Developer / Designer</p>
  <p>
    你好，我叫Ating,是一个死脑筋的工科生。
    目前就读于西南大学计算机学院，希望未来能够变得更好。
    我的兴趣主要在机器学习/底层开发。
  </p>
  <p>如是我闻 姑妄听之<Spoiler>而今迈步从头越</Spoiler></p>
  <Button title='Sponsor Me' class='w-fit' href='/projects#sponsorship' style='ahead' />

  {/* tools */}
  <h2 id='tools'>Tools</h2>
  <p>以下是我正在使用的一些工具：</p>
  <ToolSection
    class='mb-5'
    title='Productivity'
    tools={[
      {
        name: 'ClashVerge',
        description: '科学上网',
        href: 'https://github.com/Clash-Verge-rev/',
        icon: import('@/assets/tools/clashVerge.svg?raw')
      },
      {
        name: 'Obsidian',
        description: 'Markdown记录',
        href: 'https://obsidian.md/',
        icon: import('@/assets/tools/LogosObsidianIcon.svg?raw')
      },
      {
        name: 'Zotero',
        description: '文献阅读',
        href: 'https://www.zotero.org/',
        icon: import('@/assets/tools/zotero.svg?raw')
      },
      {
        name: 'Pixpin',
        description: '截图软件',
        href: 'https://pixpin.cn/',
        icon: import('@/assets/tools/pixpin.svg?raw')
      }
    ]}
  />

  <ToolSection
    class='mb-5'
    title='Development'
    tools={[
      {
        name: 'VS Code',
        description: 'IDE',
        href: 'https://code.visualstudio.com/',
        icon: import('@/assets/tools/vscode.svg?raw')
      },
      {
        name: 'Intellij IDEA',
        description: 'IDE',
        href: 'https://www.jetbrains.com/idea',
        icon: import('@/assets/tools/idea.svg?raw')
      },
      {
        name: 'Sublime Text',
        description: 'IDE',
        href: 'https://www.sublimetext.com/',
        icon: import('@/assets/tools/sublime.svg?raw')
      }
    ]}
  />
  <ToolSection
    class='mb-5'
    title='Environment'
    tools={[
      {
        name: 'Arch Linux',
        description: 'Linux Distribution',
        href: 'https://archlinux.org/',
        icon: import('@/assets/tools/archlinux.svg?raw')
      },
      {
        name: 'Ubuntu 24.04 LTS',
        description: 'Linux Distribution',
        href: 'https://ubuntu.com/',
        icon: import('@/assets/tools/ubuntu.svg?raw')
      },
      {
        name: 'Windows 11',
        description: 'Rog Strix G15',
        href: 'https://news.microsoft.com/windows11-general-availability/',
        icon: import('@/assets/tools/windows11.svg?raw')
      }
    ]}
  />

  {/* social-networks */}
  <h2 id='social-networks'>Social Networks</h2>
  <p>
   你可以在以下平台找到我：
  </p>
  <Substats
    stats={[
      {
        platform: 'GitHub',
        icon: 'github',
        link: 'https://github.com/cuichan',
        text: 'followers',
        api: 'github/cuichan'
      },
    ]}
  />

  {/* about-education */}
  <h2 id='about-Education'>Education</h2>
  <Timeline
    events={[
      {
        date: '2025-09-01',
        content:
          `<strong><a href="https://swu.edu.cn/">西南大学</a></strong>`
      },
      {
        date: '2020-09-01',
        content:
           `<strong><a href="https://www.henau.edu.cn/">河南农业大学</a></strong>`
      },
    ]}
  />
  {/* about-blog */}
  <h2 id='about-blog'>About Blog</h2>
  <p>
   本站基于以下项目/服务提供商的资源和技术支持：
  </p>
  <ul>
    <li>Domain: <a href='#' target='_blank'>Vercel</a></li>
    <li>
      Framework & Theme: <a href='https://astro.build/' target='_blank'>Astro</a> + <a
        href='https://github.com/cworld1/astro-theme-pure'
        target='_blank'>Astro Theme Pure</a
      >
    </li>
    <li>
      Site hosting: <a href='https://vercel.com/' target='_blank'>Vercel</a>
    </li>
    <li>
      CI/CD: <a href='https://vercel.com/workflow' target='_blank'>Vercel Workflow</a>
    </li>
    <!-- <li>Resources speedup: <a href='https://cdn.cbd.int/' target='_blank'>CBD CDN</a></li> -->
    <li>Comment system: <a href='https://waline.js.org' target='_blank'>Waline</a></li>
    <li>
      Visits: <a href='https://supabase.com/' target='_blank'>Supabase</a> +
      <a href='https://waline.js.org/' target='_blank'>Waline</a>
    </li>
    <li>
      Other statistics: <a href='https://github.com/spencerwooo/substats' target='_blank'
        >Substats</a
      >
    </li>
  </ul>
  <Comment slot='bottom' />
</PageLayout>
